//
// Site-wide global styles
// --------------------------------------------------

body {
    background: @brand-white;
}
.list-group-sub .list-group-item {
  padding: 10px 30px 10px 30px;
}

.content {
    // Fix layout of form items
    .form-horizontal {
        margin: 0 15px;
        & > p {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}
/* 
 * header styles
 */
.header {
    .sub-header {
        padding: @grid-gutter-width/10 0;
        margin-bottom: @grid-gutter-width/2;
    }
    #CatNav{
        &.affix-top {
            .affix-only {
                display: none;
            }
        }
        &.affix {
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
        }
        .navbar-brand {
            padding: (@navbar-height - 50px)/2 @grid-gutter-width/2;
            margin: 0;
        }
    }
}
.navbar-small {
    margin: 0;
    min-height: 0;
    li a,
    li span {
        padding: 0 @grid-gutter-width/2;
    }
}

/*
 * Core Styles
 */
.main,
.content-container {
	min-height: 400px;
}

/* 
 * Footer Styling
 */
.footer {
    padding: @grid-gutter-width/2 0;
	background: @brand-primary;
	color: @gray-lighter;
    margin-top: @grid-gutter-width;
    .container {
        background: transparent;
    }
    a {
        color: @brand-white;
        &:hover {
            color: @brand-black;
        }
    }
    .socialnav {
        ul {
            padding: 0;
            margin: 0 -5px;
            li {
                display: inline-block;
                margin: 0 5px;
                a {
                    display: inline-block;
                    .square(24px);
                    line-height: 24px;
                    text-align: center;
                    color: @brand-primary;
                    background: @brand-white;
                    border-radius: 50%;
                    overflow: hidden;
                    &:hover {
                        background: @brand-black;
                        color: @brand-white;
                    }
                    img {
                        .square(24px);
                        float: left;
                        border-radius: 50%;
                    }
                    .fa img {
                        display: none;
                    }
                }
            }
        }
    }
}

/* bootstrap overwrites */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    a {
        color: #fff;
    }
}
.navbar .navbar-nav:first-child {
    margin-left: -(@grid-gutter-width/2);
}
#catalogue-product-image {
    padding: 3px;
    border: 1px solid @gray-lighter;
    text-align: center;
    margin-bottom: @grid-gutter-width/2;
    img {
        margin: 0 auto;
    }
}
.thumbs {
    margin: 0 -5px;
    .thumb {
        float: left;
        margin: 5px;
        a {
            padding: 3px;
            border: 1px solid @gray-lighter;
            display: block;
        }
    }
}
.flexslider {
    border: none;
}
.cart-summary {
    right: 0;
    left: auto;
    width: auto;
    min-width: 300px;
    padding: 5px;
    .cart-btn {
        margin: 0;
    }
}